# Virtual environment
.venv/

# Raw data (large Kaggle files)
data/raw/

# Interim processing files
data/interim/

# Cleaned data (files are still large)
data/clean/

# Utilities used in development
tools/

# OS files
.DS_Store

# Python cache
__pycache__/
*.pyc
